.grafico
{
    width: 40%;
    height: 200px;
}

.conteudo-dashboard{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.items-dashboard
{
    display: flex;
    background-color: #1B4F72;  
    flex-direction: column;
    padding: 150px 25px;
    align-items: center;
    justify-content: flex-start;
    gap: 10%;
}

.items-dashboard:hover
{
    display: flex;
    width: 150px;
    transition: ease-in-out 0.5;
}

.items-dashboard-inv:hover
{
    display: flex;
}

.icone
{
    color: aliceblue;
    font-size: 20px;
}
.graficos-dashboard
{
   display: flex;
   flex-direction: row;
   width: 35%;
   align-items: center;
   padding: 100px 150px;
   gap: 80px;
}