.grafico
{
    width: 40%;
    height: 200px;
}

.conteudo-dashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.items-dashboard
{
    display: flex;
    background-color: #1B4F72;  
    flex-direction: column;
    padding: 0px 60px;
    align-items: center;
    justify-content: center;
}

.paragrafo
{
    font-weight: 500;
    color: aliceblue;
}

.paragrafo:hover
{
    transition: all 0.2s ease-out;
    transform: scale(1.1);
}

.graficos-dashboard
{
   padding-right: 25%;
   margin: 20px;
   display: flex;
   flex-direction: column;
   width: 35%;
   align-items: center;
   gap: 80px;
}