@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body
{
    background-color: #FFF0D9;
    margin: 0;
}

p
{
    font-family: "Inter", sans-serif;
}

a
{
    margin: 0;
    padding: 0;
   text-decoration: none;
   color: black; 
}

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(0, 0, 0, 0.1);
    padding: 10px 60px;
}

.nav-items
{
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo
{
    width: 10px;
    height: 10px;
    background-color: red;
}

.btn-entrar
{
    border-color: #89CFF0;
    background-color: #FFF0D9;
    padding: 6px 15px;
    border-radius: 5px;
    border-style: solid;
} 

.btn-cadastro
{
    background-color: #89CFF0;
    border-color: #89CFF0;
    padding: 6px 15px;
    border-radius: 5px;
    border-style: solid;
}

.btn-cadastro:hover
{
    transition: all 0.2s ease-out;
    background-color: #89CFF0;
    transform: scale(1.2);
    box-shadow: 0 0 15px 5px rgba(0, 142, 236, 0.2);
}

.btn-entrar:hover
{
    /* -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out; */
    transition: all 0.2s ease-out;
    background-color: #89CFF0;
    transform: scale(1.2);
    box-shadow: 0 0 15px 5px rgba(0, 142, 236, 0.2);
}

.btn
{
    font-family: "Inter", sans-serif;
}

/*Página inicial*/

.principal
{
    display: flex;
    justify-content: space-between;
    padding: 60px 60px;
    border-bottom: solid 2px rgb(0,0,0,0.1);
}

.titulo-principal
{
    width: 500px;
}

.titulo
{
    font-family: "Baloo 2", sans-serif;
    font-weight: 500;
    letter-spacing: 0px;
    margin: 0;
    color: #FF6B6B;
    font-size: 90px;
}

.paragrafo-principal
{
    width: 400px;
    font-size: large;
}

.btn-conhecer
{
    border-style: none;
    background-color: #FF6B6B;
    color: aliceblue;
    padding: 15px 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: large;
    margin-top: 50px;
}

.img-principal
{
    background-image: url(img/surf_illustration.png);
    width: 700px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.bloco
{
    width: 650px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.paragrafo-imagem
{
    display: flex;
    flex-direction: column;
    background-color: #89CFF0;
    padding: 0px 60px;
    margin-top: 0;
}

.sessao-historia
{
    padding: 0px 60px;
    margin-bottom: 0;
}


.bloco1, .bloco3
{
    display: flex;
    align-self: flex-end;
}

.bloco1
{
    background-image: url(img/surf1.jpg);
}

.bloco2
{
    background-image: url(img/surf2.jpg);
}

.bloco3
{
    background-image: url(img/surf3.jpg);
}

.paragrafo-historia
{
    font-size: large;
    margin-bottom: 0;
}

.img-e-paragrafo
{
    display: flex;
    justify-content: space-between;
}

.paragrafo-hist2
{
    width: 750px;
    font-size: large;
    margin-top: 0;
}

.botao-quiz
{
    border-style: none;
    background-color: #FF6B6B;
    color: aliceblue;
    padding: 15px 25px;
    border-radius: 5px;
    align-items: center;
    font-size: large;
    margin-top: 20px;
    width: 400px;
}

.bquiz
{
    width: 400px;
    height: 250px;
    background-color: red;
}

.quizes
{
    display: flex;
    gap: 5%;
    justify-content: space-between;
}

.sessao-quiz
{
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
}

/*Rodapé*/

.sessao-rodape
{
    display: flex;
    justify-content: flex-start;
    gap: 5%;
    margin-top: 2%;
}

.rodape
{
    padding: 0px 60px;
    background-color: #89CFF0;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.titulo-rodape
{
    font-size: larger;
    font-weight: 450;
}

.paragrafo-rodape
{
    width: 300px;
}

.icon
{
    width: 32px;
    height: 32px;
}

.paragrafo-rod
{
    font-size: medium;
    color: rgb(0,0,0,0.6);
}

.icons
{
    display: flex;
    gap: 10px;
}

.rodape-links
{
    display: flex;
    justify-content: space-between;
}

/*Página de cadastro*/

.cadastro
{
    display: flex;
    flex-direction: row;
    justify-self: center;
    width: 60%;
    height: 750px;
    border-radius: 20px;
    border-bottom: 6px solid rgb(0,0,0,0.1);
    margin: 3.4%;
}

.sessao-cadastro
{
    background-color: #FFF0D9;
    padding: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
}

.sessao-login
{
    background-color: #FF6B6B;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 50px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-login-cad
{
    font-size: 36px;
    color: aliceblue;
}

.p-login-cad
{
    width: 350px;
    display: flex;
}

.btn-login
{
    padding: 15px;
    border: 2px solid aliceblue;
    background-color: #FF6B6B;
    color: aliceblue;
    border-radius: 5px;
    font-size: large;
    margin-top: 30px;
    width: 100%;
    box-sizing: border-box;
}

.btn-login:hover
{
    transition: all 0.2s ease-out;
    transform: scale(1.1);
    box-shadow: 0 0 15px 5px rgba(138, 8, 43, 0.3);
}

.ipt-cadastro {
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
  }

.paragrafo-cad
{
    font-size: large;
    margin: 0;
}

.btn-cadastrar 
{
    padding: 15px;
    border-style: none;
    background-color: #FF6B6B;
    color: aliceblue;
    border-radius: 5px;
    font-size: large;
    margin-top: 30px;
    width: 100%;
    box-sizing: border-box;
}
  
.btn-cadastrar:hover
{
    transition: all 0.2s ease-out;
    transform: scale(1.1);
    box-shadow: 0 0 15px 5px rgba(138, 8, 43, 0.2);
}

.cad-input
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 0px;
    gap: 10px;
}

.input-container 
{
    position: relative;
    width: 100%;
}
  
.input-container .ipt-cadastro 
{
    padding-right: 40px;
    box-sizing: border-box;
}
  
.input-container i 
{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
}
  
.cadastro-body
{
    background-color: rgb(255, 240, 217, 0.4);
}

.btn-a
{
    width: 100%;
}

/*Página de login*/

.sessao-log
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF0D9;
    padding: 50px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.p-entrar
{
    font-size: 40px;
    display: flex;
    align-self: center;
    font-weight: 600;
    margin-bottom: 30px;
    justify-self: center;
}